<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ngo.front.storage.orm.BomMapper">
	<select id="getBom" parameterType="String"	resultType="ngo.front.storage.entity.Bom">
		select * from bom where id=#{id}
	</select>
	
	<select id="getAllBom" resultType="ngo.front.storage.entity.Bom">
		select name,ver,url,md5,grade,module,category from bom
	</select>
	
</mapper>